<li>
  <%= link_to service.name, service %>
  <%= link_to "Edit", edit_service_path(service) %>
  <%= link_to "Delete", service, method: :delete,
                                  data: { confirm: "You sure?" } %>
</li>