<% provide(:title, 'New service') %>
<h1>Create new service</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@service) do |f| %>
      <%= render 'shared/service_error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.submit "Create", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>