<% provide(:title, @service.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="service_info">
      <h1>
        <%= @service.name %>
      </h1>
    </section>
  </aside>
  Participants Using:
  <ul>
    <% @service.participants.each do |participant| %>
      <li><%= participant.name %></li>
    <% end %>
  </ul>
</div>