<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    Words!
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>