<li>
  <%= link_to participant.name, participant %>
  <%= link_to "Edit", edit_participant_path(participant) %>
  <%= link_to "Delete", participant, method: :delete,
                                  data: { confirm: "You sure?" } %>
</li>