<% provide(:title, "Edit participant") %>
<h1>Edit participant</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@participant) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :company %>
      <%= f.text_field :company, class: 'form-control' %>

      <%= f.label :role %>
      <%= f.text_field :role, class: 'form-control' %>

      <%= f.label :city %>
      <%= f.text_field :city, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>