<% provide(:title, @participant.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="participant_info">
      <h1>
        <%= @participant.name %>
      </h1>
    </section>
  </aside>
  Services Used:
  <ul>
    <% @participant.services.each do |service| %>
      <li><%= service.name %></li>
    <% end %>
  </ul>
</div>